In [1]:
!pip install Selenium.ipynb

Requirement already satisfied: selenium in c:\users\velch\anaconda3\lib\site-packages (4.18.1)
Requirement already satisfied: urllib3[socks]<3,>=1.26 in c:\users\velch\anaconda3\lib\site-packages (from selenium) (1.26.16)
Requirement already satisfied: trio~=0.17 in c:\users\velch\anaconda3\lib\site-packages (from selenium) (0.24.0)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\velch\anaconda3\lib\site-packages (from selenium) (0.11.1)
Requirement already satisfied: certifi>=2021.10.8 in c:\users\velch\anaconda3\lib\site-packages (from selenium) (2023.5.7)
Requirement already satisfied: typing_extensions>=4.9.0 in c:\users\velch\anaconda3\lib\site-packages (from selenium) (4.10.0)
Requirement already satisfied: attrs>=20.1.0 in c:\users\velch\anaconda3\lib\site-packages (from trio~=0.17->selenium) (22.1.0)
Requirement already satisfied: sortedcontainers in c:\users\velch\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: idna in c:\users\velch\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.4)
Requirement already satisfied: outcome in c:\users\velch\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.3.0.post0)
Requirement already satisfied: sniffio>=1.3.0 in c:\users\velch\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.3.1)
Requirement already satisfied: cffi>=1.14 in c:\users\velch\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.15.1)
Requirement already satisfied: wsproto>=0.14 in c:\users\velch\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\velch\anaconda3\lib\site-packages (from urllib3[socks]<3,>=1.26->selenium) (1.7.1)
Requirement already satisfied: pycparser in c:\users\velch\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.21)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\velch\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.14.0)

In [2]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
import time

Q1: In this question you have to scrape data using the filters available on the webpage You have to use the location and salary filter. 
You have to scrape data for “Data Scientist” designation for first 10 job results. 
You have to scrape the job-title, job-location, company name, experience required.
 The location filter to be used is “Delhi/NCR”. The salary filter to be used is “3-6” lakhs 
The task will be done as shown in the below steps:
 1. first get the web page https://www.naukri.com/ 
2. Enter “Data Scientist” in “Skill, Designations, and Companies” field.
 3. Then click the search button.
 4. Then apply the location filter and salary filter by checking the respective boxes
 5. Then scrape the data for the first 10 jobs results you get. 
6. Finally create a dataframe of the scraped data.

In [6]:
driver = webdriver.Chrome()

In [7]:
driver.get("https://www.naukri.com/")

In [8]:
designation=driver.find_element(By.CLASS_NAME,"suggestor-input ")
designation.send_keys("Data Scientist")
search=driver.find_element(By.CLASS_NAME,"qsbSubmit")
search.click()
time.sleep(5)
location_filter=driver.find_element(By.XPATH,"/html/body/div/div/main/div[1]/div[1]/div/div/div[2]/div[5]/div[2]/div[3]/label/p/span[1]")
location_filter.click()
time.sleep(5)
salary_filter=driver.find_element(By.XPATH,"/html/body/div/div/main/div[1]/div[1]/div/div/div[2]/div[6]/div[2]/div[2]/label/p/span[1]")
salary_filter.click()

In [9]:
job_title=[]
job_location=[]
job_company=[]
job_experience=[]
job_description=[]

In [10]:
title_tags=driver.find_elements(By.XPATH,'//div[@class=" row1"]')
for i in title_tags[0:10]:
    title=i.text
    job_title.append(title)
    
location_tags=driver.find_elements(By.XPATH,'//span[@class="ni-job-tuple-icon ni-job-tuple-icon-srp-location loc"]')
for i in location_tags[0:10]:
    location=i.text
    job_location.append(location)
    
company_tags=driver.find_elements(By.XPATH,'//a[@class=" comp-name mw-25"]')
for i in company_tags[0:10]:
    company=i.text
    job_company.append(company)
    

experience_tags=driver.find_elements(By.XPATH,'//span[@class="ni-job-tuple-icon ni-job-tuple-icon-srp-experience exp"]')
for i in experience_tags[0:10]:
    experience=i.text
    job_experience.append(experience)

description_tags=driver.find_elements(By.XPATH,'//span[@class="job-desc ni-job-tuple-icon ni-job-tuple-icon-srp-description"]')
for i in description_tags[0:10]:
    description=i.text
    job_description.append(description)

In [11]:
print(len(job_title),len(job_location),len(job_company),len(job_experience),len(job_description))

10 10 10 10 10

In [12]:
import pandas as pd
df=pd.DataFrame({'Title':job_title,'Location':job_location,'Company':job_company,'Experience':job_experience,'Description':job_description})
df

,Title,Location,Company,Experience,Description
0,Data Scientist,"Mumbai, Hyderabad, Gurugram",Deloitte,3-6 Yrs,Work youll doLiaison with on site and client t...
1,Data Scientist,"Gurugram, Bengaluru",Blackbuck,3-7 Yrs,Some of the problem areas are Insights across ...
2,Lead Data Scientist,"Kolkata, Mumbai, New Delhi, Hyderabad/Secunder...",Fort Technologies,3-7 Yrs,Who should apply 3-7 years of experience in Da...
3,Data Scientist,"Kolkata, Mumbai, New Delhi, Hyderabad, Pune, C...",ZS Associates,1-3 Yrs,Experience in terms of working with cloud nati...
4,Data Scientist,"Pune, Gurugram",Times Internet,2-4 Yrs,. A flexible and connected ZS allows us to com...
5,,Noida,The Scholar,3-8 Yrs,. Bachelors or Masters degree in computer scie...
6,Data Scientist,"Hyderabad, New Delhi, Pune, Gurugram, Bengaluru",Acenet,3-8 Yrs,Eligibility: Graduate with minimum 3 year expe...
7,Lead Customer Success - Data Scientist,"Noida, Mumbai, Pune",Searchurcollege,4-7 Yrs,Deployment mandate 1 / 2 projects atleast shou...
8,Data Scientist,"Gurugram, Bengaluru",Adglobal360,3-4 Yrs,"Coding experience in Java, Java Script (2-3 ye..."
9,Python and ML Trainer,"Varanasi, Kannur, Mumbai, New Delhi",Gartner,1-3 Yrs,. At least 1-year of experience coding in R / ...

Q2: Write a python program to scrape data for “Data Scientist” Job position in “Bangalore” location. You have to scrape the job-title, job-location, company_name, experience_required. You have to scrape first 10 jobs data. 
This task will be done in following steps: 
1. First get the webpage https://www.shine.com/
 2. Enter “Data Analyst” in “Job title, Skills” field and enter “Bangalore” in “enter the location” field. 
3. Then click the searchbutton. 
4. Then scrape the data for the first 10 jobs results you get. 
5. Finally create a dataframe of the scraped data.

In [18]:
driver = webdriver.Chrome()

In [19]:
driver.get("https://www.shine.com/")

In [20]:
designation=driver.find_element(By.XPATH,"/html/body/div/header/div[3]/div/div/div[1]/div/input")
designation.click()
time.sleep(5)
designation=driver.find_element(By.CLASS_NAME,"form-control  ")
designation.send_keys("Data Analyst")
time.sleep(5)
location=driver.find_element(By.XPATH,"/html/body/div/div[4]/div/div[2]/div[2]/div/form/div/div[1]/ul/li[2]/div/input")
location.send_keys("Bangalore")
time.sleep(3)
search=driver.find_element(By.XPATH,"/html/body/div/div[4]/div/div[2]/div[2]/div/form/div/div[2]/div/button")
search.click()

In [21]:
job_title=[]
job_location=[]
company_name=[]
experience_required=[]

In [22]:
title_tags=driver.find_elements(By.XPATH,'//div[@class="jobCard_jobCard__jjUmu  white-box-border jobCard"]/div/h2')
for i in title_tags[0:10]:
    title=i.text
    job_title.append(title)

location_tags=driver.find_elements(By.XPATH,'//div[@class=" jobCard_jobCard_lists_item__YxRkV jobCard_locationIcon__zrWt2"]')
for i in location_tags[0:10]:
    location=i.text
    job_location.append(location)
    
company_tags=driver.find_elements(By.XPATH,'//div[@class="jobCard_jobCard_cName__mYnow"]')
for i in company_tags[0:10]:
    company=i.text
    company_name.append(company)
    
experience_tags=driver.find_elements(By.XPATH,'//div[@class=" jobCard_jobCard_lists_item__YxRkV jobCard_jobIcon__3FB1t"]')
for i in experience_tags[0:10]:
    experience=i.text
    experience_required.append(experience)

In [23]:
print(len(job_title),len(job_location),len(company_name),len(experience_required))

10 10 10 10

In [24]:
import pandas as pd
df=pd.DataFrame({'Title':job_title,'Location':job_location,'Company':company_name,'Experience':experience_required})
df

,Title,Location,Company,Experience
0,Clinical Data Analyst,Bangalore\n+9,sahast sales corporation,12 to 22 Yrs
1,Data Analyst,Bangalore\n+6,techno endura,0 to 1 Yr
2,Azure Data engineer,Bangalore\n+9,sahast sales corporation,12 to 22 Yrs
3,Hiring For Data Analyst,Bangalore\n+4,capgemini technology services india...,6 to 10 Yrs
4,Data Executive karnataka,Bangalore\n+12,radhika enterprises,0 to 4 Yrs
5,GCP Data Engineer / Developer,Bangalore\n+9,v-tech data outsourcing,0 to 1 Yr
6,Clinical Data Analyst,Bangalore\n+8,capgemini technology services india...,6 to 11 Yrs
7,Sas Programmer Analyst,Bangalore\n+6,techno endura,0 to 1 Yr
8,Data Operator all over India,Bangalore\n+8,techno endura,0 to 2 Yrs
9,Data Scientist Vacancy,Bangalore\n+9,v-tech data outsourcing,0 to 1 Yr

Q3: Scrape 100 reviews data from flipkart.com for iphone11 phone. You have to go the link:
https://www.flipkart.com/apple-iphone-15-black-128-gb/p/itm6ac6485515ae4?pid=MOBGTAGPTB3VS24W&lid=LSTMOBGTAGPTB3VS24WVZNSC6&marketplace=FLIPKART&q=iphone+15&store=tyy/4io&srno=s_1_2&otracker=AS_QueryStore_OrganicAutoSuggest_1_2_na_na_na&otracker1=AS_QueryStore_OrganicAutoSuggest_1_2_na_na_na&fm=organic&iid=b596c120-8114-44e8-9819-0b4dee130fa9.MOBGTAGPTB3VS24W.SEARCH&ppt=hp&ppn=homepage&ssid=s3c8i7dsvk0000001710403029549&qH=2f54b45b321e3ae5
LIPKART
As shown in the above page you have to scrape the tick marked attributes. These are:
1. Rating
2. Review summary
3. Full review
4. You have to scrape this data for first 100reviews

In [25]:
driver = webdriver.Chrome()

In [26]:
driver.get("https://www.flipkart.com/apple-iphone-15-black-128-gb/p/itm6ac6485515ae4?pid=MOBGTAGPTB3VS24W&lid=LSTMOBGTAGPTB3VS24WVZNSC6&marketplace=FLIPKART&q=iphone+15&store=tyy/4io&srno=s_1_2&otracker=AS_QueryStore_OrganicAutoSuggest_1_2_na_na_na&otracker1=AS_QueryStore_OrganicAutoSuggest_1_2_na_na_na&fm=organic&iid=b596c120-8114-44e8-9819-0b4dee130fa9.MOBGTAGPTB3VS24W.SEARCH&ppt=hp&ppn=homepage&ssid=s3c8i7dsvk0000001710403029549&qH=2f54b45b321e3ae5")

In [27]:
Customer_reviews=driver.find_element(By.XPATH,'/html/body/div[1]/div/div[3]/div[1]/div[2]/div[2]/div/div[2]/div/div/span[2]')
Customer_reviews.click()

In [28]:
rating=[]
review_summary=[]
full_review=[]
ratings=[]
reviewsummary=[]
fullreviewsummary=[]

In [29]:
reviews_fullreviews=driver.find_element(By.XPATH,'/html/body/div[1]/div/div[3]/div[1]/div[2]/div[9]/div[7]/div/a/div')
reviews_fullreviews.click()

In [30]:
start=0
end=13

for page in range(start,end):
    rating_list=driver.find_elements(By.XPATH,'//div[@class="_3LWZlK _1BLPMq"]')
    review_list=driver.find_elements(By.XPATH,'//p[@class="_2-N8zT"]')
    fullreview_summary=driver.find_elements(By.XPATH,'//div[@class="t-ZTKy"]')
    for i in rating_list:
        ra=i.text
        rating.append(ra)
    time.sleep(3)
    
    for i in review_list:
        review=i.text
        review_summary.append(review)
    time.sleep(3)
    
    for i in fullreview_summary:
        fullreview=i.text
        full_review.append(fullreview)
    time.sleep(3)
    
    next_button=driver.find_element(By.XPATH,'/html/body/div[1]/div/div[3]/div/div/div[2]/div[13]/div/div/nav/a[11]')
    next_button.click()                      
    time.sleep(8)
for i in rating[0:100]:
    rat=i
    ratings.append(rat)
for i in review_summary[0:100]:
    rev=i
    reviewsummary.append(rev)
for i in full_review[0:100]:
    frev=i
    fullreviewsummary.append(frev)
    
print(len(ratings),len(reviewsummary),len(fullreviewsummary))
import pandas as pd
df=pd.DataFrame({'Rating':ratings,'Review Summary':reviewsummary,'Full Review Summary':fullreviewsummary})
df

NoSuchElementException: Message: no such element: Unable to locate element: {"method":"xpath","selector":"/html/body/div[1]/div/div[3]/div/div/div[2]/div[13]/div/div/nav/a[11]"}
  (Session info: chrome=122.0.6261.129); For documentation on this error, please visit: https://www.selenium.dev/documentation/webdriver/troubleshooting/errors#no-such-element-exception
Stacktrace:
	GetHandleVerifier [0x00007FF7CE8DAD02+56930]
	(No symbol) [0x00007FF7CE84F602]
	(No symbol) [0x00007FF7CE7042E5]
	(No symbol) [0x00007FF7CE7498ED]
	(No symbol) [0x00007FF7CE749A2C]
	(No symbol) [0x00007FF7CE78A967]
	(No symbol) [0x00007FF7CE76BCDF]
	(No symbol) [0x00007FF7CE7881E2]
	(No symbol) [0x00007FF7CE76BA43]
	(No symbol) [0x00007FF7CE73D438]
	(No symbol) [0x00007FF7CE73E4D1]
	GetHandleVerifier [0x00007FF7CEC56F8D+3711213]
	GetHandleVerifier [0x00007FF7CECB04CD+4077101]
	GetHandleVerifier [0x00007FF7CECA865F+4044735]
	GetHandleVerifier [0x00007FF7CE979736+706710]
	(No symbol) [0x00007FF7CE85B8DF]
	(No symbol) [0x00007FF7CE856AC4]
	(No symbol) [0x00007FF7CE856C1C]
	(No symbol) [0x00007FF7CE8468D4]
	BaseThreadInitThunk [0x00007FF9563A257D+29]
	RtlUserThreadStart [0x00007FF9577EAA58+40]

In [ ]:
print(len(rating),len(review_summary),len(full_review))

Q4: Scrape data forfirst 100 sneakers you find whenyouvisitflipkart.com and search for “sneakers” inthe search
field.
You have to scrape 3 attributes of each sneaker:
1. Brand
2. ProductDescription
3. Price
As shown in the below image, you have to scrape the above attributes.

In [31]:
driver = webdriver.Chrome()

In [32]:
driver.get("https://www.flipkart.com/")

In [33]:
sneaker=driver.find_element(By.CLASS_NAME,"Pke_EE")
sneaker.send_keys("sneakers")

In [34]:
search=driver.find_element(By.XPATH,'//button[@class="_2iLD__"]')
search.submit()

In [35]:
brand_name=[]
productdescription=[]
price=[]
brandname=[]
prod_description=[]
price_range=[]

In [36]:
start=0
end=13
for page in range(start,end):
    brand_list=driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')
    product_description=driver.find_elements(By.XPATH,'//a[@class="IRpwTa"]')
    price_list=driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]')
    for i in brand_list:
        brand_name.append(i.text)
    time.sleep(3)
    for i in product_description:
        productdescription.append(i.text)
    time.sleep(3)
    for i in price_list:
        price.append(i.text)
    time.sleep(3)
    next_button=driver.find_element(By.XPATH,'/html/body/div/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[11]')
    next_button.click()
    time.sleep(3)
for i in brand_name[0:100]:
    bn=i
    brandname.append(bn)
for i in productdescription[0:100]:
    prod=i
    prod_description.append(prod)
for i in price[0:100]:
    pr=i
    price_range.append(pr)
    
print(len(brandname),len(prod_description),len(price_range))
import pandas as pd
df=pd.DataFrame({'Brand':brandname,'Product_Description':prod_description,'Price':price_range})
df

100 100 100

        Brand                                Product_Description   Price
0      Layasa                     Oggi Sneakers Sneakers For Men    ₹558
1      Layasa                     Oggi Sneakers Sneakers For Men    ₹558
2    URBANBOX  Trending Stylish Casual Outdoor Sneakers Shoes...    ₹448
3   Deals4you                                 Sneakers For Women    ₹469
4        aadi  Lightweight,Comfort,Summer,Trendy,Walking,Outd...    ₹339
..        ...                                                ...     ...
95     ORICUM  Casual Shoes For Men Walking , Sneakers ,Loafe...    ₹697
96       PUMA  Oricum Lightweight Casual Shoes with High Qual...  ₹3,360
97      Abros  Oricum Lightweight Casual Shoes with High Qual...  ₹1,157
98     ORICUM             Classic Colourblocked Sneakers For Men    ₹588
99     ORICUM                               550 Sneakers For Men    ₹704

[100 rows x 3 columns]

Q5: Go to webpage https://www.amazon.in/ Enter “Laptop” in the search field and then click the search icon. Then set CPU
Type filter to “Intel Core i7” as shown in the below image:
Aftersetting the filters scrape first 10 laptops data. You have to scrape 3 attributes for each laptop:
1. Title
2. Ratings
3. Price

In [37]:
driver = webdriver.Chrome()

In [38]:
driver.get("https://www.amazon.in/")

In [39]:
laptop=driver.find_element(By.XPATH,"/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[2]/div[1]/input")
laptop.send_keys("Laptop")

search=driver.find_element(By.XPATH,"/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[3]/div/span/input")
search.click()
time.sleep(10)

cputype_filter=driver.find_element(By.XPATH,"/html/body/div[1]/div[1]/div[1]/div[2]/div/div[3]/span/div/div/div/div[6]/ul[19]/span/span[9]/li/span/a/span")
cputype_filter.click()

In [40]:
title_name=[]
ratings=[]
price=[]

In [41]:
title_list=driver.find_elements(By.XPATH,'//span[@class="a-size-medium a-color-base a-text-normal"]')
rating=driver.find_elements(By.XPATH,'//a[@class="a-popover-trigger a-declarative"]')
price_list=driver.find_elements(By.XPATH,'//span[@class="a-price-whole"]')

for i in title_list[0:10]:
    title_name.append(i.text)
    
for i in rating[0:10]:
    ratings.append(i.text)

for i in price_list[0:10]:
    price.append(i.text)


print(len(title_name),len(ratings),len(price))
import pandas as pd
df=pd.DataFrame({'Title':title_name,'Rating':ratings,'Price':price})
df

10 10 10

                                               Title Rating   Price
0  Dell Inspiron 7430 2in1 Touch Laptop, 13th Gen...         76,990
1  HP Laptop 15s, 12th Gen Intel Core i5-1235U, 1...         53,722
2  Samsung Galaxy Book2 (NP750) Intel 12th Gen co...         48,890
3  MSI GF63 Thin, Intel 11th Gen. i5-11260H, 40CM...         44,990
4  Acer Travelmate Business Laptop Intel Core i5-...         39,990
5  HONOR MagicBook X16 (2024), 12th Gen Intel Cor...         46,990
6  Acer Nitro V Gaming Laptop 13th Gen Intel Core...         78,052
7  Dell 15 Laptop, 12th Gen Intel Core i5-1235U P...         48,990
8  Dell 15 Laptop, Intel Core i5-1135G7 Processor...         49,490
9  ASUS TUF Gaming F17, Intel Core i5-11400H 11th...         49,882

Q6: Write a python program to scrape data for Top 1000 Quotes of All Time.
The above task will be done in following steps:
1. First get the webpagehttps://www.azquotes.com/
2. Click on TopQuote
3. Than scrap a)Quote b) Author c) Type Of Quotes

In [42]:
driver = webdriver.Chrome()

In [43]:
driver.get("https://www.azquotes.com/")

In [44]:
TopQoutes_filter=driver.find_element(By.XPATH,'/html/body/div[1]/div[1]/div[1]/div/div[3]/ul/li[5]/a')
TopQoutes_filter.click()

In [45]:
Quote=[]
Author=[]
TypeOfQuotes=[]

In [46]:
start=0
end=10
for page in range(start,end):
    Quote_list=driver.find_elements(By.XPATH,'//a[@class="title"]') #unstrutured quote list from current webpage 
    Author_list=driver.find_elements(By.XPATH,'//div[@class="author"]') #unstrutured Authors from currentwebpage 
    TypeOfQuotes_list=driver.find_elements(By.XPATH,'//div[@class="tags"]') ##unstrutured Type Of Quotes from currentwebpage 
    
#Strutured quote list from unstrutured list
    for i in Quote_list:
        ql=i.text
        Quote.append(ql)

#Strutured author list from unstrutured list
    for i in Author_list:
        al=i.text
        Author.append(al)

#Strutured type of quote list from unstrutured list
    for i in TypeOfQuotes_list:
        tl=i.text
        TypeOfQuotes.append(tl)

#moving to next page
    next_button=driver.find_element(By.XPATH,'/html/body/div[1]/div[2]/div/div/div/div[1]/div/div[4]/li[12]/a')
    next_button.click()
    time.sleep(5)
    
print(len(Quote),len(Author),len(TypeOfQuotes))#printing each veariale length

#data frame
import pandas as pd
df=pd.DataFrame({'Quote':Quote,'Author':Author,'TypeOfQuotes':TypeOfQuotes})
df

1000 1000 1000

,Quote,Author,TypeOfQuotes
0,The essence of strategy is choosing what not t...,Michael Porter,"Essence, Deep Thought, Transcendentalism"
1,One cannot and must not try to erase the past ...,Golda Meir,"Inspiration, Past, Trying"
2,Patriotism means to stand by the country. It d...,Theodore Roosevelt,"Country, Peace, War"
3,Death is something inevitable. When a man has ...,Nelson Mandela,"Inspirational, Motivational, Death"
4,You have to love a nation that celebrates its ...,Erma Bombeck,"4th Of July, Food, Patriotic"
...,...,...,...
995,Regret for the things we did can be tempered b...,Sydney J. Harris,"Love, Inspirational, Motivational"
996,America... just a nation of two hundred millio...,Hunter S. Thompson,"Gun, Two, Qualms About"
997,For every disciplined effort there is a multip...,Jim Rohn,"Inspirational, Greatness, Best Effort"
998,"The spiritual journey is individual, highly pe...",Ram Dass,"Spiritual, Truth, Yoga"
999,The mind is not a vessel to be filled but a fi...,Plutarch,"Inspirational, Leadership, Education"