In [1]:
!pip install selenium

Requirement already satisfied: selenium in c:\users\velch\anaconda3\lib\site-packages (4.18.1)
Requirement already satisfied: urllib3[socks]<3,>=1.26 in c:\users\velch\anaconda3\lib\site-packages (from selenium) (1.26.16)
Requirement already satisfied: trio~=0.17 in c:\users\velch\anaconda3\lib\site-packages (from selenium) (0.24.0)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\velch\anaconda3\lib\site-packages (from selenium) (0.11.1)
Requirement already satisfied: certifi>=2021.10.8 in c:\users\velch\anaconda3\lib\site-packages (from selenium) (2023.5.7)
Requirement already satisfied: typing_extensions>=4.9.0 in c:\users\velch\anaconda3\lib\site-packages (from selenium) (4.10.0)
Requirement already satisfied: attrs>=20.1.0 in c:\users\velch\anaconda3\lib\site-packages (from trio~=0.17->selenium) (22.1.0)
Requirement already satisfied: sortedcontainers in c:\users\velch\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: idna in c:\users\velch\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.4)
Requirement already satisfied: outcome in c:\users\velch\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.3.0.post0)
Requirement already satisfied: sniffio>=1.3.0 in c:\users\velch\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.3.1)
Requirement already satisfied: cffi>=1.14 in c:\users\velch\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.15.1)
Requirement already satisfied: wsproto>=0.14 in c:\users\velch\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\velch\anaconda3\lib\site-packages (from urllib3[socks]<3,>=1.26->selenium) (1.7.1)
Requirement already satisfied: pycparser in c:\users\velch\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.21)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\velch\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.14.0)

In [2]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
import time

Q1: Write a python program to scrape data for “Data Analyst” Job position in “Bangalore” location.
You have to scrape the job-title, job-location, company_name, experience_required. You have to
scrape first 10 jobs data.
This task will be done in following steps:
1. First get the webpage https://www.shine.com/
2. Enter “Data Analyst” in “Job title, Skills” field and enter “Bangalore” in “enter the location” field.
3. Then click the searchbutton.
4. Then scrape the data for the first 10 jobs results you get.
5. Finally create a dataframe of the scraped data.

In [3]:
driver = webdriver.Chrome()

In [4]:
driver.get("https://www.shine.com/")

In [5]:
designation=driver.find_element(By.XPATH,"/html/body/div/header/div[3]/div/div/div[1]/div/input")
designation.click()

In [6]:
designation=driver.find_element(By.CLASS_NAME,"form-control  ")
designation.send_keys("Data Analyst")

In [7]:
location=driver.find_element(By.XPATH,"/html/body/div/div[4]/div/div[2]/div[2]/div/form/div/div[1]/ul/li[2]/div/input")
location.send_keys("Bangalore")

In [8]:
search=driver.find_element(By.XPATH,"/html/body/div/div[4]/div/div[2]/div[2]/div/form/div/div[2]/div/button")
search.click()

In [9]:
job_title=[]
job_location=[]
company_name=[]
experience_required=[]

In [10]:
title_tags=driver.find_elements(By.XPATH,'//div[@class="jobCard_jobCard__jjUmu  white-box-border jobCard"]/div/h2')
for i in title_tags[0:10]:
    title=i.text
    job_title.append(title)


location_tags=driver.find_elements(By.XPATH,'//div[@class=" jobCard_jobCard_lists_item__YxRkV jobCard_locationIcon__zrWt2"]')
for i in location_tags[0:10]:
    location=i.text
    job_location.append(location)
    
company_tags=driver.find_elements(By.XPATH,'//div[@class="jobCard_jobCard_cName__mYnow"]')
for i in company_tags[0:10]:
    company=i.text
    company_name.append(company)
    
experience_tags=driver.find_elements(By.XPATH,'//div[@class=" jobCard_jobCard_lists_item__YxRkV jobCard_jobIcon__3FB1t"]')
for i in experience_tags[0:10]:
    experience=i.text
    experience_required.append(experience)

In [11]:
print(len(job_title),len(job_location),len(company_name),len(experience_required))

10 10 10 10

In [12]:
import pandas as pd
df=pd.DataFrame({'Title':job_title,'Location':job_location,'Company':company_name,'Experience':experience_required})
df

,Title,Location,Company,Experience
0,Clinical Data Analyst,Bangalore\n+9,sahast sales corporation,12 to 22 Yrs
1,Data Analyst,Bangalore\n+6,techno endura,0 to 1 Yr
2,Azure Data engineer,Bangalore\n+9,sahast sales corporation,12 to 22 Yrs
3,Hiring For Data Analyst,Bangalore\n+4,capgemini technology services india...,6 to 10 Yrs
4,"PART TIME, DATA ENTRY, ENGLISH TYPIST",Bangalore\n+12,radhika enterprises,0 to 4 Yrs
5,GCP Data Engineer / Developer,Bangalore\n+9,ur infotech hiring for data entry,0 to 4 Yrs
6,Clinical Data Analyst,Bangalore\n+8,capgemini technology services india...,6 to 11 Yrs
7,Lead Data Analyst,Bangalore\n+6,techno endura,0 to 1 Yr
8,Data Operator all over India,Bangalore,ara resources private limited,4 to 9 Yrs
9,Hiring For Business Analyst,Bangalore\n+9,v-tech data outsourcing,0 to 1 Yr

Q2: Write a python program to scrape data for ““Data Scientist” Job position in “Bangalore” location.
You have to scrape the job-title, job-location, company_name, experience_required. You have to
scrape first 10 jobs data.
This task will be done in following steps:
1. First get the webpage https://www.naukri.com/
2. Enter “Data Analyst” in “Job title, Skills” field and enter “Bangalore” in “enter the location” field.
3. Then click the searchbutton.
4. Then scrape the data for the first 10 jobs results you get.
5. Finally create a dataframe of the scraped data.

In [13]:
driver = webdriver.Chrome()

In [14]:
driver.get("https://www.naukri.com/")

In [15]:
designation=driver.find_element(By.CLASS_NAME,"suggestor-input ")
designation.send_keys("Data Analyst")
location=driver.find_element(By.XPATH,"/html/body/div[1]/div[7]/div/div/div[5]/div/div/div/div[1]/div/input")
location.send_keys('Bangalore')
search=driver.find_element(By.CLASS_NAME,"qsbSubmit")
search.click()

In [16]:
job_title=[]
job_location=[]
company_name=[]
experience_required=[]

In [17]:
title_tags=driver.find_elements(By.XPATH,'//div[@class="cust-job-tuple layout-wrapper lay-2 sjw__tuple "]/div/a')
for i in title_tags[0:10]:
    title=i.text
    job_title.append(title)
    
location_tags=driver.find_elements(By.XPATH,'//span[@class="locWdth"]')
for i in location_tags[0:10]:
    location=i.text
    job_location.append(location)
    
company_tags=driver.find_elements(By.XPATH,'//div[@class=" row2"]/span/a[1]')
for i in company_tags[0:10]:
    company=i.text
    company_name.append(company)
    
experience_tags=driver.find_elements(By.XPATH,'//span[@class="expwdth"]')
for i in experience_tags[0:10]:
    experience=i.text
    experience_required.append(experience)

In [18]:
print(len(job_title),len(job_location),len(company_name),len(experience_required))

10 10 10 10

In [19]:
import pandas as pd
df=pd.DataFrame({'Title':job_title,'Location':job_location,'Company_name':company_name,'Experience':experience_required})
df

,Title,Location,Company_name,Experience
0,Data Analyst | 3-5 yrs exp | Bangalore / Coimb...,"Coimbatore, Tamil Nadu, Bengaluru",Sudoboat,3-6 Yrs
1,Data Analyst,"Hyderabad, Pune, Bengaluru",Leading Client,0-5 Yrs
2,Data Analyst,"Kolkata, Chennai, Bengaluru",Iqhired Consultancy Services,5-10 Yrs
3,Data Analyst,"Gurugram, Haryana, Bengaluru",Oracle,1-6 Yrs
4,"Data Eng, Mgmt & Governance Analyst",Bengaluru,Accenture,3-5 Yrs
5,Data Analyst,Bengaluru,Venture Highway,2-7 Yrs
6,Data Analyst,"Kolkata, Mumbai, New Delhi, Hyderabad, Pune, C...",Response Informatics,5-10 Yrs
7,Data Analyst - Mayhem Studios,Bengaluru,Mobile Premier League (MPL),7-9 Yrs
8,Data Analyst,"Hybrid - Bengaluru, Karnataka",Acuity Knowledge Partners,4-8 Yrs
9,Payer Data Analyst,"Kolkata, Mumbai, New Delhi, Hyderabad, Pune, C...",Agilite Global Solutions,0-1 Yrs

Q3: Scrape data of first 100 sunglasses listings on flipkart.com. You have to scrape four attributes:
1. Brand
2. ProductDescription
3. Price
The attributes which you have to scrape is ticked marked in the below image.
To scrape the data you have to go through following steps:
1. Go to Flipkart webpage by url : https://www.flipkart.com/
2. Enter “sunglasses” in the search fieldwhere “search for products, brands and more” is written and
click the search icon
3. After that you will reach to the page having a lot of sunglasses. From this page you can scrap the
required data as usual.
4. After scraping data from the first page, go to the “Next” Button at the bottom other page , then
click on it.
5. Now scrape data from this page as usual
6. Repeat this until you get data for 100sunglasses. Note: That all of the above steps have to be done
by coding only and not manually.

In [20]:
driver = webdriver.Chrome()

In [21]:
driver.get("https://www.flipkart.com/")

In [22]:
sunglass=driver.find_element(By.CLASS_NAME,"Pke_EE")
sunglass.send_keys("Sunglasses")

In [23]:
search=driver.find_element(By.XPATH,'//div[@class="_1sFryS _2alaMB"]/div/input')
search.submit()

In [24]:
brand_name=[]
productdescription=[]
price=[]

In [25]:
start=0
end=3
for page in range(start,end):
    brand_list=driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')
    for i in brand_list[0:100]:
        brand_name.append(i.text)
    next_button=driver.find_element(By.XPATH,'/html/body/div/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[11]')
    next_button.click()
    time.sleep(3)
    
for page in range(start,end):
    product_description=driver.find_elements(By.XPATH,'//div[@class="_2B099V"]/a[1]')
    for i in product_description[0:100]:
        productdescription.append(i.text)
    next_button=driver.find_element(By.XPATH,'/html/body/div/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[11]')
    next_button.click()
    time.sleep(3)
    
for page in range(start,end):
    price_list=driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]')
    for i in price_list[0:100]:
        price.append(i.text)
    next_button=driver.find_element(By.XPATH,'/html/body/div/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[11]')
    next_button.click()
    time.sleep(3)

In [26]:
print(len(brand_name),len(productdescription),len(price))

120 120 120

In [27]:
import pandas as pd
df=pd.DataFrame({'Brand':brand_name,'Product_Description':productdescription,'Price':price})
df

             Brand                                Product_Description   Price
0    VINCENT CHASE  UV Protection, Gradient Butterfly, Over-sized ...    ₹575
1    VINCENT CHASE  Toughened Glass Lens, UV Protection Aviator Su...    ₹475
2             SRPM  Polarized, Riding Glasses, Night Vision Sports...    ₹246
3         Fastrack  by Lenskart Polarized, UV Protection Aviator S...    ₹379
4        Elligator  UV Protection, Gradient Rectangular, Retro Squ...    ₹169
..             ...                                                ...     ...
115  VINCENT CHASE  UV Protection Retro Square Sunglasses (Free Size)    ₹193
116           IDEE             Polarized Retro Square Sunglasses (58)    ₹999
117          NuVew  by Lenskart Polarized, UV Protection Wayfarer ...  ₹1,111
118       Fastrack  Riding Glasses, UV Protection, Night Vision, P...    ₹304
119  VINCENT CHASE        UV Protection Sports Sunglasses (Free Size)    ₹219

[120 rows x 3 columns]